@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gentium Book Basic', serif;
}

.hidden {
  display: none;
}